.insetContents {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 5px;
}
@font-face {
  font-family: "Cascadia Code";
  src: local("CascadiaCode"),
    url("../fonts/CascadiaCode.ttf") format("truetype");
}
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoLight.otf") format("opentype");
  font-weight: 100, 200, 300;
}
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"),
    url("../fonts/SFMonoHeavy.otf") format("opentype");
  font-weight: 800;
}

body {
  background-color: #0a1929;
  color: white;
}

.appBar {
  background-color: #001e3c;
}
